<template name="gamemaster">
    <div class="container">
        <h1 class="centered">Welcome GameMaster</h1>
        {{> currentWeek}}
        {{> createGames}}
    </div>
</template>

<template name="currentWeek">
    <h3>Current Week: {{currentWeek}}</h3>
    <form class="current-week">
        <select class="browser-default">
            <option value="" disabled selected>Change Current Week</option>
            {{#each weeks}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button class="waves-effect waves-default btn current-week-button">Set Current Week</button>
    </form>
    {{refreshSelect}}
</template>

<template name="createGames">
    <h3>Create Games</h3>
    <form class="create-game">
        <label>Home Team</label>
        <select class="home-team browser-default">
            <option value="" disabled selected>Choose Home Team</option>
            {{#each teamList}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <label>Away Team</label>
        <select class="away-team browser-default">
            <option value="" disabled selected>Choose Away Team</option>
            {{#each teamList}}
            <option value="{{this}}">{{this}}</option>
            {{/each}}
        </select>
        <button class="waves-effect waves-default btn create-game-button">Create Game</button>
    </form>
    {{refreshSelect}}
</template>