<template name="login">
    <div class="container">
        <form class="login-form">
            <input type="text" class="login-username" placeholder="Username" />
            <input type="password" class="login-password" placeholder="Password" />
            <button class="waves-effect waves-default btn login-button">Sign In</button>
        </form>
    </div>
</template>