<template name="register">
    <div class="container">
        <form class="register-form">
            <input type="text" class="register-username" placeholder="Username" />
            <input type="password" class="register-password" placeholder="Password" />
            <input type="password" class="register-password-retype" placeholder="Retype Password" />
            <button class="waves-effect waves-default btn login-button">Register</button>
        </form>
    </div>
</template>